<section class="content-header">
    <h1>
      Static Pages <a routerLink="/admin/static-pages/add" class="btn btn-warning">Add Static Page</a>
    </h1>
  </section>
  
    <!-- Main content -->
  <section class="content">
    <div class="row">
      <div class="col-xs-12">
  
  
          <div class="box">
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Sr.no</th>
                    <th>Question</th>
                    <th>Answer</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let page of pages; let i = index">
                      <td>{{ i + 1 }}</td>
                      <td>{{ page.title | titlecase }}</td>
                      <td>{{ page.createdAt | date: "dd-MMMM-yy" }}</td>
                      <td>
                        <span class="label label-success" *ngIf="page.status == '1'">Active</span>
                        <span class="label label-danger" *ngIf="page.status == '0'">Inactive</span>
                      </td>
                      <td>
                        <a class="btn btn-success btn-xs" routerLink='/admin/static-pages/edit/{{page._id}}'>Edit</a>
                        <!-- <button type="button" class="btn btn-danger btn-xs" (click) ='delete(page._id)'>Delete</button> -->
                      </td>
                    </tr>
                    </tbody>
                  <tfoot>
                  <tr>
                    <th>Sr.no</th>
                    <th>Question</th>
                    <th>Answer</th>
                    <th>Status</th>
                    <th>Actions</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
  
  
      </div>
    </div>
  </section>
          
  