<section class="profile-sec">

  <nav class="navbar navbar-expand-lg navbar-light timeline-nav">
    <div class="container-fluid">		
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#timeline-menu" aria-controls="timeline-menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="timeline-menu">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cprofile">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cprofile/albums">Photos</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/cprofile/videos">Videos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cprofile/live-broadcast">Live Video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cprofile/payment">Payment</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/cprofile/subscription-plans">Subscription plans</a>
                </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/cprofile/auctions">Auctions</a>
                        </li>
            </ul>
        </div>
    </div>
</nav>
	<div class="content-part">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="inner-sec">					
						<div class="head-sec">
							<span class="icon-div"><img src="../../assets/images/video-icon.svg" alt="Icon"></span>
							<h5>Upload Videos</h5>
							<div class="gallery-link ml-auto">
								<a class="active" routerLink="/channel/upload-video">Upload Videos</a>
							</div>
						</div>
						<div class="body-sec">
							<div class="row">
								<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                  <form  [formGroup] = "form" (ngSubmit) = "save()" role="form" class="form-horizontal">
										<div class="form-group">
											<label>Select Category *</label>
											<select class="form-control" formControlName="categories" multiple>
												<optgroup  *ngFor="let category of categories" label="{{ category.title }}">
                          <option *ngFor="let subcategory of category.subcategories" value="{{ subcategory._id }}">{{ subcategory.title }}</option>
                        </optgroup>
                      </select>
                      <span item-content class="form-error text-danger animated  bounceIn myalert" *ngIf="!form.controls['categories'].valid && form.controls['categories'].touched">*Please select categories</span>
                    </div>
                    <div class="form-group">
											<label>Title *</label>
                      <input type="text" class="form-control" placeholder="Enter title" formControlName="title">
                      <span item-content class="form-error text-danger animated  bounceIn myalert" *ngIf="!form.controls['title'].valid && form.controls['title'].touched">*Please enter title</span>
										</div>
										<div class="form-group">
											<label>Choose Thumbnail *</label>
                      <input type="file" class="form-control" formControlName="thumbnail" (change) = "setThumbnail($event)" accept="image/png,image/jpeg,image/jpg">
                      <span item-content class="form-error text-danger animated  bounceIn myalert" *ngIf="!form.controls['thumbnail'].valid && form.controls['thumbnail'].touched">*Please select thumbnail</span>
                    </div>
                    <div class="form-group">
											<label>Choose Video (mp4 only) *</label>
                      <input type="file" class="form-control" formControlName="video" (change) = "setVideo($event)" accept="video/mp4">
                      <span item-content class="form-error text-danger animated  bounceIn myalert" *ngIf="!form.controls['video'].valid && form.controls['video'].touched">*Please select video</span>
                    </div>
                    <div class="form-group">
											<label>Description</label>
                      <textarea class="form-control" placeholder="Enter Description" formControlName="description"></textarea>
										</div>
										<div class="btn-sec">
											<input type="submit" class="btn btn-default btn-sub" value="{{ button }}" [disabled] = "isDisabled">
										</div>
									</form>
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">

                  <div *ngIf="start_uploading">

                  <p>Thumbnail</p>
                  <progress-bar [progress]="progressthumbnail_percentage" [color]="progressthumbnail_color"></progress-bar>

                    <p>Video</p>
                  <progress-bar [progress]="progressvideo_percentage" [color]="progressvideo_color"></progress-bar>

                  </div>

                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>