<h1>Change Password</h1>
<form  [formGroup] = "form" (ngSubmit) = "changepassword()">

<div class="alert" *ngIf="!form.controls['opass'].valid && form.controls['opass'].touched">Please enter Old password</div>
<div class="alert" *ngIf="!form.controls['npass'].valid && form.controls['npass'].touched">New Password length must be between 6-10</div>

    <input type="password" name="opass" placeholder="Enter Old password" formControlName="opass"><br>
    <input type="password" name="npass" placeholder="Enter new password" formControlName="npass"><br>
    <input type="password" name="cpass" placeholder="Enter confirm password" formControlName="cpass"><br>
    <span item-content *ngIf="form.get('cpass').touched" class="aleartpopup">
            <span item-content class="form-error text-danger animated  bounceIn myalert"  *ngIf="form.get('cpass').hasError('required')">
                *This field is required.
            </span>
            <span item-content class="form-error text-danger animated  bounceIn myalert"  *ngIf="form.get('cpass').hasError('passwordMismatch')">
                *Confirm Password does not match with the password
            </span>
            <span item-content class="form-error text-danger animated  bounceIn myalert"  *ngIf="form.get('cpass').hasError('minlength')">
                *Confirm Password length must be between 6-10
            </span>
            <span item-content class="form-error text-danger animated  bounceIn myalert"  *ngIf="form.get('cpass').hasError('maxlength')">
                    *Confirm Password length must be between 6-10
            </span>
    </span><br>
    <input type="submit" value="Login">
</form>