<section class="reset-sec">
    <img src="../../assets/images/signinbg.png" class="bg-image" alt="Background">
    <div class="overlay"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-auto">
          <div class="form-wrapper">
            <div class="form-header">
              <div class="avatar-sec">
                <img src="../../assets/images/reset-icon.svg" alt="Avatar">
              </div>
              <h1>Reset Password</h1>
              <p>Lorem Ipsum is simply dummy text of the <br />printing and typesetting industry.</p>
            </div>
            <div class="form-body">
              <form  [formGroup] = "form" (ngSubmit) = "resetpassword()" class="form-horizontal reset-form">
                <div class="form-group">
                  <input type="Password" class="form-control" name="npass" value="" placeholder="New Password" formControlName="npass">
                  <span item-content class="form-error text-danger animated  bounceIn myalert" *ngIf="!form.controls['npass'].valid && form.controls['npass'].touched">
                      *New Password length must be between 6-10
                    </span>
                </div>
                <div class="form-group">
                  <input type="Password" class="form-control" name="cpass" value="" placeholder="Confirm Password" formControlName="cpass">
                  <span item-content *ngIf="form.get('cpass').touched" class="aleartpopup">
                      <span item-content class="form-error text-danger animated  bounceIn myalert"  *ngIf="form.get('cpass').hasError('required')">
                        *Confirm Password is required.
                      </span>
                      <span item-content class="form-error text-danger animated  bounceIn myalert"  *ngIf="form.get('cpass').hasError('passwordMismatch')">
                        *Confirm Password does not match with the password
                      </span>
                      <span item-content class="form-error text-danger animated  bounceIn myalert"  *ngIf="form.get('cpass').hasError('minlength')">
                        *Confirm Password length must be between 6-10
                      </span>
                      <span item-content class="form-error text-danger animated  bounceIn myalert"  *ngIf="form.get('cpass').hasError('maxlength')">
                            *Confirm Password length must be between 6-10
                      </span>
                    </span>
                </div>
                <div class="btn-sec">
                  <input type="Submit" class="btn btn-default btn-submit" value="Submit">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>