.profile-sec .timeline-nav{
	padding:0px;
	background-color:#080808;
}
.profile-sec .timeline-nav ul.navbar-nav li a{
	padding:15px 30px;
	text-transform:uppercase;
	color:#ffffff;
}
.profile-sec .timeline-nav ul.navbar-nav li.active a{
	background-color:#141414;
}
.profile-sec .content-part{
	padding-bottom:50px;
	background-color:#141414;
}
.profile-sec .content-part .inner-sec .head-sec{
	display:flex;
	flex-wrap:wrap;
	align-items:center;
	padding:15px 0px 15px 35px;
	border-bottom:1px solid rgba(255, 255, 255, 0.10);
	margin-bottom:15px;
	position:relative;
}
.profile-sec .content-part .inner-sec .head-sec span.icon-div{
	height:19px;
	width:19px;
	position:absolute;
	left:0;
	top:15px;
	bottom:15px;
	margin:auto;
}
.profile-sec .content-part .inner-sec .head-sec span.icon-div img{
	height:100%;
}
.profile-sec .content-part .inner-sec .head-sec .gallery-link .btn-live{
	border: none;
    border-radius: 2px;
    padding: 7px 15px;
    background-color: #611313;
    font-size: 14px;
    font-family: 'robotobold';
    color: #ffffff;
    text-transform: uppercase;
	margin-left:4px;
}
.profile-sec .content-part .inner-sec .head-sec .gallery-link .btn-live:hover{
	background-color:#470d0d;
}
.profile-sec .content-part .inner-sec .body-sec .broadcasting-sec .broadcasting-body img{
	width:100%;
}
.profile-sec .content-part .inner-sec .body-sec .broadcasting-sec .broadcast-footer{
	display:flex;
	flex-wrap:wrap;
	padding:15px 15px;
	background-color:#080808;
}
.profile-sec .content-part .inner-sec .body-sec .broadcasting-sec .broadcast-footer .like-video-sec{
	display:flex;
	align-items:center;
}
.profile-sec .content-part .inner-sec .body-sec .broadcasting-sec .broadcast-footer .like-video-sec span{
	display:inline-block;
	margin-right:4px;
}
.profile-sec .content-part .inner-sec .body-sec .broadcasting-sec .broadcast-footer .like-video-sec span.heart{
	height:45px;
	width:45px;
	background-color:#ffffff;
	border-radius:50%;
	text-align:center;
	line-height:45px;
}
.profile-sec .content-part .inner-sec .body-sec .broadcasting-sec .broadcast-footer .like-video-sec span.heart img{
	width:25px;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-head{
	padding:15px 15px;
	background-color:#080808;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-head h6{
	font-size:14px;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-body{
	padding: 15px 15px 5px 15px;
    background-color: #000000;
    min-height: 492px;
    max-height: 492px;
    overflow-y: scroll;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-body .chat-wrapper.user{
	padding-left:85px;
	position:relative;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-body .chat-wrapper.guest{
	padding-right:85px;
	position:relative;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-body .chat-wrapper .avatar-icon{
	max-height:55px;
	max-width:55px;
	position:absolute;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-body .chat-wrapper .avatar-icon img{
	display: block;
	height: 55px;
	width: 55px;
	border-radius: 50%;
	overflow: hidden;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-body .chat-wrapper.user .avatar-icon{
	left:0px;
	top:0px;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-body .chat-wrapper.guest .avatar-icon{
	right:0px;
	top:0px;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-body .chat-wrapper .message-box{
	padding:10px 15px;
	background-color:#080808;
	position:relative;
	margin-bottom:10px;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-body .chat-wrapper .message-box:after{
	position: absolute;
    content: '';
    left: -20px;
    top: 0px;
    border-top: 10px solid #080808;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid #080808;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-body .chat-wrapper.guest .message-box:after{
	left:auto;
    top: 0px;
    right: -20px;
	border-left: 10px solid #080808;
    border-right: 10px solid transparent;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-body .chat-wrapper .message-box span{
	display:block;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-body .chat-wrapper .message-box span.name{
	color:rgba(255, 255, 255, 0.25);
	text-transform:uppercase;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-footer{
	padding:15px 15px;
	background-color:#080808;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-footer .inner-wrapper{
	padding-left:45px;
	position:relative;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-footer .inner-wrapper span{
	display:block;
	height:35px;
	width:35px;
	position:absolute;
	left:0;
	top:0;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-footer .inner-wrapper span img{
	height:100%;
	width:100%;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-footer .inner-wrapper .form-group{
	padding-right:55px;
	position:relative;
	margin:0px;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-footer .inner-wrapper .form-control{
	font-size: 14px;
    color: #8c8c8c;
    width: 100%;
    height: 35px;
    border-top-left-radius: 2px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 0px;
    border: 1px solid #e5e6e7;
    border-right-width: 0;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-footer .inner-wrapper .btn-sub{
	width: 55px;
    height: 35px;
    padding: 0px;
    background-color: #f8f8f8;
    border-top-left-radius: 0px;
    border-top-right-radius: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 2px;
    border: 1px solid #e5e6e7;
    position: absolute;
    right: 0;
    top: 0;
}
.profile-sec .content-part .inner-sec .body-sec .live-chat-sec .chat-footer .inner-wrapper .btn-sub img{
	height:21px;
}
.OT_mirrored.OT_root.OT_publisher.OT_fit-mode-cover{
	widows: 100px !important;
	height: 503px !important;
}