<header class="main-header">

  <!-- Logo -->
  <a href="index2.html" class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>MM</b>C</span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>My model</b> Connection</span>
  </a>

  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        
        
        <!-- User Account: style can be found in dropdown.less -->
        <li class="dropdown user user-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ currentUser.profilepic }}" class="user-image" alt="User Image">
            <span class="hidden-xs">{{ currentUser.firstname | titlecase }} {{ currentUser.lastname | titlecase }}</span>
          </a>
          <ul class="dropdown-menu">
            <!-- User image -->
            <li class="user-header">
              <img src="{{ currentUser.profilepic }}" class="img-circle" alt="User Image">

              <p>
                {{ currentUser.firstname | titlecase }} {{ currentUser.lastname | titlecase }}
                <small>Member since {{ currentUser.createdAt | date: 'MMMM, yyyy' }}</small>
              </p>
            </li>
            <!-- Menu Body -->

            <!-- Menu Footer-->
            <li class="user-footer">
              <div class="pull-left">
                <a routerLink="#" class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a (click)='logout()' class="btn btn-default btn-flat">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
      </ul>
    </div>

  </nav>
</header>