<section class="profile-sec">
    <nav class="navbar navbar-expand-lg navbar-light timeline-nav">
      <div class="container-fluid">		
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#timeline-menu" aria-controls="timeline-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="timeline-menu">
          <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/channel/view/{{ channel_id }}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/channel/live/{{ channel_id }}">Live Video</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" routerLink="/channel/videos/{{ channel_id }}">Videos</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/channel/albums/{{ channel_id }}">Photos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/channel/auctions/{{ channel_id }}">Auction</a>
              </li>
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="/channel-favourite">Favourite</a>
            </li> -->
          </ul>
        </div>
      </div>
    </nav>
    <div class="content-part">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="inner-sec">					
              <div class="head-sec">
                <span class="icon-div"><img src="../../assets/images/video-icon.svg" alt="Icon"></span>
                <h5>Videos</h5>
              </div>
              <div class="body-sec">
                <div class="row">



                  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngFor="let video of videos">
                    <div class="video-inner">
                      <div class="thubnail-outer">
                        <img src="{{ video.subcategories.videos.thumbnail }}" alt="Thumbnail">
                        <div class="overlay">
                          <a routerLink="/video/{{ video.subcategories.videos._id }}" *ngIf="isLogged">
                            <span><img src="../../assets/images/overlay-video-play.svg" alt="play-icon"></span>
                          </a>

                          <a routerLink="/auth/login" *ngIf="!isLogged">
                            <span><img src="../../assets/images/overlay-video-play.svg" alt="play-icon"></span>
                          </a>

                          <ng-container *ngIf="favorite_videos.includes(video.subcategories.videos._id)" >

                          <a (click) = "unlikeVideo(video.subcategories.videos._id)" class="favourite-btn" *ngIf="isLogged"><img src="../../assets/images/favourited-icon.svg" alt="favourite"></a>
                          </ng-container>

                          <ng-container *ngIf="!favorite_videos.includes(video.subcategories.videos._id)" >

                            <a (click) = "like(video.subcategories.videos._id)" class="favourite-btn" *ngIf="isLogged"><img src="../../assets/images/heart-icon.svg" alt="favourite"></a>
                            </ng-container>


                        </div>
                      </div>
                      <div class="vd-title">
                        <a routerLink="/video/{{ video.subcategories.videos._id }}">
                          <h6>{{ video.subcategories.videos.title | titlecase }}</h6>
                        </a>
                        <div class="vd-info">
                          <span class="duration">{{ video.subcategories.videos.createdAt | dateago2 }}</span>
                          <span class="views ml-auto">{{ video.subcategories.videos.views }} Views</span>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3" *ngIf="videos?.length == '0'">
                    <div class="alert alert-warning">No videos in this channel!</div>
                  </div>



                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>