<section class="forgot-sec">
    <img src="../../assets/images/createanaccountbg.png" class="bg-image" alt="Background">
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 m-auto">
                <div class="form-wrapper">
                    <div class="form-header">
                        <div class="avatar-sec">
                            <img src="../../assets/images/forgot-icon.svg" alt="Avatar">
                        </div>
                        <h1>Forgot Password</h1>
                        <p>We just need your registered email address <br /> to send your password reset</p>
                    </div>
                    <div class="form-body">
                        <form  [formGroup] = "form" (ngSubmit) = "submit()" class="form-horizontal forgot-form">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" value="" placeholder="Enter your email id" formControlName="email">
                                <span item-content class="form-error text-danger animated  bounceIn myalert" *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
                                    *Please enter valid email
                                </span>
                            </div>
                            <div class="btn-sec">
                                <button type="submit" class="btn btn-default btn-submit">{{ this.button }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>