<h2>Video categories</h2>

<p><i><u>All categories</u></i></p>
<p>URL: http://localhost:3000/api/v1/video-categories || GET</p>

<p><i><u>Add category</u></i></p>
<p>URL: http://localhost:3000/api/v1/video-categories/add || POST || title:second</p>

<p><i><u>Get category</u></i></p>
<p>URL: http://localhost:3000/api/v1/video-categories/edit/:ID || GET</p>

<p><i><u>Edit category</u></i></p>
<p>URL: http://localhost:3000/api/v1/video-categories/edit/:ID || POST || title:second</p>

<p><i><u>Delete category</u></i></p>
<p>URL: http://localhost:3000/api/v1/video-categories/delete/:ID || GET</p>


<h2>Video subcategories</h2>

<p><i><u>All subcategories</u></i></p>
<p>URL: http://localhost:3000/api/v1/video-subcategories || GET</p>

<p><i><u>Add subcategories</u></i></p>
<p>URL: http://localhost:3000/api/v1/video-subcategories/add || POST || id:5b96450f4c227c5c9c825095
  title:first</p>

<p><i><u>Edit subcategories</u></i></p>
<p>URL: http://localhost:3000/api/v1/video-subcategories/add || POST || id:5b96450f4c227c5c9c825095
  title:first</p>
