<section class="profile-sec">
<div class="content-part">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="inner-sec">					
                    <div class="head-sec">
                        <span class="icon-div"><img src="../../assets/images/aboutprofile.svg" alt="Icon"></span>
                        <h5>About Us</h5>
                    </div>
                    <div class="body-sec">
                        <div class="row">
                            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="details-group">
                                            <label>First Name</label>
                                            <p>{{ userdata.firstname }}</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="details-group">
                                            <label>Last Name</label>
                                            <p>{{ userdata.lastname }}</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="details-group">
                                            <label>Email ID</label>
                                            <p>{{ userdata.email }}</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="details-group">
                                            <label>Phone</label>
                                            <p>{{ userdata.phone }}</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="details-group">
                                            <label>Gender</label>
                                            <p>{{ userdata.gender }}</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="details-group">
                                            <label>Age</label>
                                            <p>{{ userdata.dob }}</p>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <div class="details-group">
                                            <label>Country</label>
                                            <p>{{ userdata.country }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>