<section class="content-header">
  <h1>
    Video Subcategories <a routerLink="/admin/video-subcategories/add" class="btn btn-warning">Add subcategory</a>
  </h1>
</section>

  <!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">


        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th>Sr.no</th>
                  <th>Parent</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let category of categories; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td><a routerLink="/admin/video-categories/edit/{{category._id}}">{{ category.title }}</a></td>
                  <td>{{ category.subcategories.title }}</td>
                  <td>
                      <span class="label label-success" *ngIf="category.subcategories.status == '1'">Active</span>
                      <span class="label label-danger" *ngIf="category.subcategories.status == '0'">Inactive</span>
                    </td>
                  <td>
                    <a class="btn btn-success btn-xs" routerLink='/admin/video-subcategories/edit/{{category.subcategories._id}}'>Edit</a>
                    <a class="btn btn-info btn-xs" routerLink='/admin/video-subcategories/videos/{{category.subcategories._id}}'>Videos</a>
                    <!-- <button type="button" class="btn btn-danger btn-xs" (click) ='delete(category.subcategories._id)'>Delete</button> -->
                  </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                  <th>Sr.no</th>
                  <th>Parent</th>
                  <th>Title</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>


    </div>
  </div>
</section>
        
